$SIDEBAR_WIDTH: 322px;
$SIDEBAR_ZINDEX: 4;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  // width: 100%;
  // height: 100%;
  padding: 0;
  margin: 0;
}

body {
  // padding: 0 2px;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}

/*
 * Side Bar
 */
.sidebar {
  width: $SIDEBAR_WIDTH;
  border: solid 1px black;
  border-radius: 1px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  position: relative;
  background-color: white;
  padding: 28px 24px 24px 24px;

  transform: translateX(0%);
  transition: all 300ms;

  &.dark {
    background: black;
    color: white;

    .table {
      .table-body>div {
        border-color: white;
      }
    }
  }

  .content {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    .title-row {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-size: 24px;
      }
    }
  }

  .table {
    margin-top: 24px;

    .table-title {
      font-size: 24px;
      line-height: 28px;
      font-weight: bold;
      padding-bottom: 17px;
    }

    .load-more-btn {
      font-size: 16px;
      line-height: 19px;
      cursor: pointer;
      padding: 10px 6px;
      transition: background 300ms;
      border-radius: 5px;

      &:hover {
        background: gray;
      }
    }

    .add-quote-btn {
      font-size: 20px;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: black;
      color: white;
      transition: all 300ms;
      cursor: pointer;

      &.dark {
        background: white;
        color: black;
      }

      &:hover {
        background: gray;
      }

      span {
        margin-left: 8px;
      }
    }

    .quote,
    .quote-input {
      font-family: 'Playfair Display', serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      font-style: italic;
      flex-grow: 1;
    }

    .quote-input {
      background: transparent;
      border: none;
      outline: none;
    }

    .quote-btn-block {
      flex-shrink: 0;
      flex-basis: 90px;
      text-align: right;
    }

    .quote-btn-block * {
      margin-left: 5px;
      cursor: pointer;
      transition: background-color 300ms;
      border-radius: 6px;

      &:hover {
        background-color: gray;
      }
    }

    .add-quote-row {
      margin-top: 17px;
      text-align: center;
    }

    .table-body {
      // background-color: aquamarine;
      max-height: 236px;
      overflow: auto;

      >div {
        border: solid 1px black;
        border-left: none;
        border-right: none;
        padding: 17px 0;

        &.load-more-row {
          text-align: right;
        }

        &.quote-row {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &:first-child {
          border-top-width: 2px;
          // padding-top: 0;
        }

        &:last-child {
          border-bottom-width: 2px;
          // border-bottom: none;
          // padding-bottom: 0;
        }
      }
    }
  }
}

/*
 *  Main Page
 */

.main-page {
  position: relative;
  // width: 100%;
  // height: 100%;
  transition: all 300ms;
  overflow-x: hidden;
}

/*
 *  Toggle Theme
 */

.toggle-theme {
  width: 65px;
  height: 32px;
  border-radius: 25px;
  padding: 4px;
  transition: all 300ms;
  cursor: pointer;
}

.toggle-theme-circle {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  transition: all 300ms;
  position: relative;
}

.toggle-theme.left {
  background-color: rgba(237, 237, 237, 0.7);
}

.toggle-theme.left .toggle-theme-circle {
  background-color: #fff;
  left: 0;
  transform: translateX(0);
}

.toggle-theme.right {
  background-color: rgba(87, 87, 87, 0.7);
}

.toggle-theme.right .toggle-theme-circle {
  background-color: #000;
  left: 100%;
  transform: translateX(-100%);
}